@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
/*Custom Properties*/
:root{

}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*Mobile first CSS*/
@media only screen and (max-width: 700px){
  h1{
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
  }

  .bottom-bar{
    background-color: blueviolet;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bottom-bar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
  }

  .bar {
    width: 2rem;
    height: 3px;
    background-color: aliceblue;
    margin: 0.4rem 0;
    transition: 0.3s;
  }
  /*
  .full-screen-menu {
    height: 100vh;
    background-color: rgb(25, 25, 26);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  */
  .full-screen-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100;
    background-color: rgb(25, 25, 26);
    justify-content: flex-end; /* Align content at the bottom */
    z-index: 1;
    overflow: hidden;
    transition: height 0.3s ease-in-out; /* Transition height with ease-in-out effect */
  }

  .full-screen-menu.active{
    height: 10vh;
  }
  
  .full-screen-menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    margin: 2rem 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

}